/* index style */
.order-book{
  --default-background-color:#172d3e;
  --default-color:rgb(255,255,255);
  --secondary-color:#8b969f;
  --text-tertiary-color:rgb(130, 186, 246);
  --indicator-primary-color:rgb(1,167,129);
  --surface-color: rgb(40, 68, 91);
  --surface-color-hover-varient:rgb(14, 52, 82);

  background-color: var(--default-background-color);
  color: var(--default-color);
  position: relative;
}

.order-book .order-book-container{
  display: flex;
  min-height: 20ch;
  max-height: 30ch;
  overflow: auto;
}
.order-book .order-book-container .order-book-buy-sell-section{
 width: 100%;
}
.loader{
  width: 100%;
  min-height: 20ch;
  text-align: center;
}


/* header css */
.order-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(100, 100, 100, 0.3);
  cursor: pointer;
  padding-block: .3em;
}

.order-header .section{
  display: flex;
  align-items: center;
  gap:.3em;
}
.order-header .section .action-btn{
  background: none;
  border: none;
  padding-block: .5em;
}
.order-header .section .action-btn > *{
  transition: all .3s linear;
}
.order-header .section .action-btn .action-collapse-icon{
  transform: rotate(-90deg);
  
}
.order-header .section.action{
  --gap-margin:1em;
  gap: var(--gap-margin);
  margin-right: var(--gap-margin);
}
.order-header .section.action .action-btn{
  font-size: .8em;
}
.order-header .section .order-type{
  display: flex;
  gap: .2em;
  text-transform: uppercase;
}

.order-header .section .order-type .order-of{
  color: var(--secondary-color);
}


/* table css */
.table-row{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  text-transform: uppercase;
}
.table-row.reverse{
  direction: rtl;
}
.table-row.table-head{
  color: var(--secondary-color);
}

.table-row .table-cell{
  text-align: end;
  font-size: .8em;
}
.table-row .table-cell .action-btn{
  border: none;
  background: none;
  font-size: .8em;
  opacity: .3;
  display: none;
}
.table-row .table-cell .action-btn:hover{
  opacity: .6;
}
.table-row .table-cell:last-child{
  padding: 0 .5em;
}
.table-row .table-cell:first-child{
  /* background-color: red; */
}
.table-data-row-container{
  position: relative;
  isolation: isolate;
}
.table-data-row-container .table-data-row:hover .table-cell .action-btn {
  display: unset;
}
.table-data-row-container .table-data-row-overlay{
  height: 100%;
  position: absolute;
  opacity: .3;
  transition: width .3s ease-in-out;
  z-index: -1;
  pointer-events: none;
}

/* footer css */

.order-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: 1em;
  padding-block: .5em;
}
.order-footer .popup-btn{
  background-color: var(--surface-color);
  border: none;
  border-radius: .2em;
  outline: none;
  padding: .2em .5em;
}

.order-footer .popup-btn:hover{
  background-color: var(--surface-color-hover-varient);
}
.order-footer .order-indicator{
  text-transform: uppercase;
  display: flex;
  gap: .5em;
  font-size: .7em;
}
.order-footer .order-indicator .order-book-type{
  color: var(--text-tertiary-color);
  cursor: pointer;
}
.order-footer .order-indicator .data-flow-indicator{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: .5em;
  cursor: help;
}
.order-footer .order-indicator .data-flow-indicator .indicator-icon{
  color: var(--indicator-primary-color);
}
.order-footer .order-indicator .data-flow-indicator .datat-flow-connection-type{
  text-decoration: underline;
  
}

/* animation css */
.blink{
  animation: blink .3s ease-in 1 forwards;
}
@keyframes blink {
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
