
.loader-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .2em;
  opacity: .5;
}
.loader-container .loading-img{
  aspect-ratio: 1/1;
  width: 1em;
  filter: grayscale(100%);
  
}
.loader-animation{
  animation: fade-in-out 1s infinite linear;
}
@keyframes fade-in-out {
  0%{
    opacity: .5;
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: .5;
  }
}
